<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <label>UserName</label>
      <input type="text" class="form-control" [(ngModel)]="user.userName" />
      <label>Password</label>
      <input type="password" class="form-control" [(ngModel)]="user.password" />
      <span>{{ message }}</span>
      <br />
      <button class="btn btn-primary m-2" (click)="Login()" type="submit">Login</button>
      <button class="btn btn-primary m-2" routerLink="../signup">Sign Up</button>
    </div>
    <div class="col-4"></div>
  </div>
</div>
