<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <label>UserName</label>
      <input type="text" class="form-control" [(ngModel)]="user.userName" />
      <label>Password</label>
      <input type="password" class="form-control" [(ngModel)]="user.password" />
      <br />
      <button class="btn btn-primary m-2" (click)="Create()" type="submit">Create</button>
      <button class="btn btn-primary m-2" routerLink="../login">Back</button>
    </div>
    <div class="col-4"></div>
  </div>
</div>
