<div style="width: fit-content; margin: auto; margin-top: 18px">
  <button type="button" class="btn btn-primary" (click)="openModalWithClass(template)">Add Car</button>
</div>

<div class="">
  <input type="text" class="form-control" [(ngModel)]="carfilter.search" />
  <button type="button" class="btn btn-primary" (click)="GetAll()">Search</button>
  <table class="table">
    <tr>
      <td>brand</td>
      <td>model</td>
      <td>price</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
    <tr *ngFor="let item of cars">
      <td>{{ item.brand }}</td>
      <td>{{ item.model }}</td>
      <td>{{ item.price }}</td>
      <td><a (click)="GetCar(template, item.id)">Edit</a></td>
      <td><a (click)="DeleteCar(item.id)">Delete</a></td>
    </tr>
  </table>
</div>

<br />

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">Add/Edit Car</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <label>Brand</label>
    <input type="text" class="form-control" [(ngModel)]="car.brand" />
    <label>Model</label>
    <input type="text" class="form-control" [(ngModel)]="car.model" />
    <label>Price</label>
    <input type="number" class="form-control" [(ngModel)]="car.price" />
    <label>New</label>
    <input type="checkbox" class="m-2" [(ngModel)]="car.new" />
    <br />
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="Create()">Create</button>
    <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
  </div>
</ng-template>
